/** 
 * Custom CSS Variables
 */
:root {
    /* What to color input boxes as */
    --boxColor: #211855;
    /* light color variable (was #83EEFF) */
    --lightPurple: #a327dd;
    /* background color */
    --background: #B2beb5;
    --lightText: grey;
}

/** 
 * CSS Universal Elements Area
 */
header{
    width: 100%;
    font-size: xx-large;
    flex: auto;
    padding: 1%;
}
main{
    flex: auto;
    font-size: var(--mediumFontSize);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* difines padding, clear, font, and text slignment for universal footer objects*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}


/**
 * CSS Class Elements Area
 */
.parrot{
    height: 28px;
}

/**
 * CSS ID Elements Area
 */
#highscorelink{
    color: var(--lightPurple);
    max-width: 45%;
    text-align: left;
}
#highscorelink:hover{
    color: var(--boxColor)
}
#timer{
    max-width: 45%;
    right: 1%;
    text-align: right;
    position: absolute;
}
#title{
    font-size: xxx-large;
    font-weight: bolder;
    padding: 3%;
}
#body{
    font-size: xx-large;
}
#buttons{
    font-size: xx-large;
}
#answer{
    border-top-style: solid;
    font-size: xx-large;
    color: var(--lightText);
    text-align: left;
    padding: 1%;
    font-style: italic;
}
